<h1 class='text-center'>Welcome to grafique! The Ultimate
D3 Template Generation System.</h1>
<div class="row">
  <div class="col-md-5 col-md-offset-5">
    <button type="button" class="btn btn-primary btn-lg" name="lgs">Lets Get Started</button>
  </div>
</div>
<div id="inputForm" class="row">
  <div class="col-md-7 col-md-offset-3">
    <form class="form-inline">
      <div data-ng-repeat='choice in inputs'>
        <div class="form-group">
          <label for="label1" class="col-md-2 control-label">Label</label>
          <div class="col-sm-10">
            <input type="text" ng-model='choice.label1' class="form-control" name="" placeholder="Enter Label">
          </div>
        </div>
        <div class="form-group">
          <label for="value1" class="col-md-2 control-label">Value</label>
          <div class="col-sm-10">
            <input type="number" min='0' ng-model='choice.value1' class="form-control" name="" placeholder="Enter Value">
          </div>
        </div>
        <button class="remove btn btn-default" ng-show="$last" ng-click="removeField()"><i class="fa fa-minus"></i></button>
      </div>
      <div class="form-group">
        <button ng-click='addField()' type="button" class="btn btn-primary addButton"><i class="fa fa-plus"></i></button>
      </div>
      <div class="form-group">
        <button ng-click='submit()' class="btn btn-primary" name="button">Add Data</button>
      </div>
    </form>
  </div>
</div>
<div id="bodyCanvas">
  <!-- insert created d3 image here  -->
</div>
