<h1 class='text-center'>Welcome to grafique! The Ultimate
D3 Template Generation System.</h1>
<div class='row'>
  <div class='col-md-6 col-md-offset-3 well'>
    <p>Enter sets of labels and values below to generate a sweet custom donut chart in d3.js! The sum of the values of your data sets will be the accumulative value of the entire donut! Wow!

    You have the option to export the custom d3 code to put in your own site or for whatever purposes you most desire.</p>
  </div>
</div>

<div id="inputForm" class="row">
  <div class="col-md-7 col-md-offset-3">
    <form class="form-inline">
      <div data-ng-repeat='choice in inputs'>
        <div class="inputField">
          <div class="form-group">
            <label for="label1" class="col-md-2 control-label">Label</label>
            <div class="col-sm-10">
              <input type="text" ng-model='choice.label1' class="form-control" name="" placeholder="Enter Label" required>
            </div>
          </div>
          <div class="form-group">
            <label for="value1" class="col-md-2 control-label">Value</label>
            <div class="col-sm-10">
              <input type="number" min='0' ng-model='choice.value1' class="form-control" name="" placeholder="Enter Value" required>
            </div>
          </div>
          <button class="remove btn btn-default" ng-show="$last" ng-click="removeField()"><i class="fa fa-minus"></i></button>
        </div>  
      </div>
        <button ng-click='addField()' type="button" class="btn btn-primary addButton"><i class="fa fa-plus"></i></button>
      <!-- <div class="form-group"> -->
      <!-- </div> -->
      <!-- <div class="form-group"> -->
        <button ng-click='submit()' class="btn btn-primary" name="button">Add Data</button>
      <!-- </div> -->
    </form>
  </div>
</div>
<div class="row">
  <div class="container">
    <div class="col-md-12">
      <div id="bodyCanvas">
  <!-- insert created d3 image here  -->
      </div>
    </div>
  </div>
</div>
