<div class="row">
  <div class='col-md-7 col-md-offset-2'>
    <h1>Sign in plz</h1>
    <form class="form-horizontal">
      <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="email" placeholder="email@example.com" onfocus="this.placeholder = ''" onblur="this.placeholder = 'email@example.com'" ng-model="signinForm.email" required>
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="password" placeholder="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'password'" ng-model="signinForm.password" required>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button ng-click="signin(signinForm)" class="btn btn-primary">Sign up</button>
        </div>
      </div>
    </form>
  </div>
</div>